GRPC_PORT=
DB_PATH=
DB_NAME=
JWT_SECRET_KEY=
JWT_EXPIRE_ACCESS_TOKEN=
JWT_EXPIRE_REFRESH_TOKEN=
REDIS_ADDR=
REDIS_PASSWORD=
REDIS_DB=
BREVO_API_KEY=
BREVO_URL=
SELLER_ID=
VNP_HASH_SECRET=
VNP_TMNCODE=
VNP_URL=
TIME_LIVE_ORDER_REDIS=